{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  {%- assign about_page = pages.about -%}
  {%- assign about_link_url = about_page.url | default: '/pages/about' -%}
  {%- assign about_link_title = about_page.title | default: 'About' -%}
  {%- assign has_about_link = false -%}
  {%- for menu_link in section.settings.menu.links -%}
    {%- if menu_link.url == about_link_url -%}
      {%- assign has_about_link = true -%}
    {%- endif -%}
  {%- endfor -%}
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {{- 'icon-hamburger.svg' | inline_asset_content -}}
        {{- 'icon-close.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {%- if link.title == 'Catalog' -%}
                          Shop
                        {%- else -%}
                          {{ link.title | escape }}
                        {%- endif -%}
                        <span class="svg-wrapper">
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span>
                        <span class="svg-wrapper">
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            <span class="svg-wrapper">
                              {{- 'icon-arrow.svg' | inline_asset_content -}}
                            </span>
                            {%- if link.title == 'Catalog' -%}
                              Shop
                            {%- else -%}
                              {{ link.title | escape }}
                            {%- endif -%}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      <span class="svg-wrapper">
                                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                                      </span>
                                      <span class="svg-wrapper">
                                        {{- 'icon-caret.svg' | inline_asset_content -}}
                                      </span>
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        <span class="svg-wrapper">
                                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                                        </span>
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {%- if link.title == 'Catalog' -%}
                        Shop
                      {%- else -%}
                        {{ link.title | escape }}
                      {%- endif -%}
                    </a>
                  {%- endif -%}
                </li>
                {%- if link.handle == 'catalog'
                  or link.url == routes.collections_url
                  or link.url == routes.all_products_collection_url
                -%}
                  <li>
                    <details id="Details-menu-drawer-collections">
                      <summary
                        id="HeaderDrawer-collections"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
                      >
                        {% if request.locale.iso_code == 'ar' %}الاقسام{% else %}Collections{% endif %}
                        <span class="svg-wrapper">
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span>
                        <span class="svg-wrapper">
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                      </summary>
                      <div
                        id="link-collections"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            <span class="svg-wrapper">
                              {{- 'icon-arrow.svg' | inline_asset_content -}}
                            </span>
                            Back to Menu
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- assign has_collections = false -%}
                            {%- for collection in collections -%}
                              {%- unless collection.handle == 'frontpage' -%}
                                {%- assign has_collections = true -%}
                                <li>
                                  <a
                                    id="HeaderDrawer-collection-{{ collection.handle }}"
                                    href="{{ collection.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                  >
                                    {{ collection.title | escape }}
                                  </a>
                                </li>
                              {%- endunless -%}
                            {%- endfor -%}
                            {%- unless has_collections -%}
                              <li>
                                <a
                                  id="HeaderDrawer-collection-placeholder"
                                  href="/collections/all"
                                  class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                >
                                  All Products
                                </a>
                              </li>
                              <li>
                                <a
                                  id="HeaderDrawer-collection-placeholder-2"
                                  href="/collections/new-arrivals"
                                  class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                >
                                  New Arrivals
                                </a>
                              </li>
                              <li>
                                <a
                                  id="HeaderDrawer-collection-placeholder-3"
                                  href="/collections/best-sellers"
                                  class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                >
                                  Best Sellers
                                </a>
                              </li>
                            {%- endunless -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  </li>
                {%- endif -%}
              {%- endfor -%}
              {%- unless has_about_link -%}
                <li>
                  <a
                    id="HeaderDrawer-about"
                    href="{{ about_link_url }}"
                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
                  >
                    {{ about_link_title | escape }}
                  </a>
                </li>
              {%- endunless -%}
            </ul>
          </nav>
          {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
            <div class="menu-drawer__utility-links">
              <div class="menu-drawer__localization header-localization">
                <localization-form>
                  {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                    <div>
                      <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                        {{ 'localization.language_label' | t }}
                      </h2>
                      {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                    </div>
                  {%- endform -%}
                </localization-form>
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </details>
</header-drawer>
